/* 
Colours to use
/* 
Colours to use
Background #fdf9f6
Text #342e09 dark brown
$primary-colour: #8c3b00;
$secondary-colour: #fdfdf6
highlight colour #fddc22 yellow
*/

:root{
  --primary-color: #8c3b00;
  --secondary-color: #342e09;
  --background-color-primary: #fdf9f6;
  --background-color-secondary: #fdfdf6;
  --dark-grey: #2b2b2b;
  --highlight-color: #fddc22;
  --primary-font-weight: 400;
  --secondary-font-weight: 700;
  --primary-max-width: 700px;
  --background-color-hover: rgba(0, 0, 0, 0.2);
  --button-color-primary: #fff;
  --button-border-color: rgba(0, 0, 0, 0.3);
  --visitid-link-color: #663366;
}

body {
  background-color: var(--background-color-primary);
  font-family: 'PT Sans', sans-serif;
  font-weight: var(--primary-font-weight);
  font-size: 14px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

header {
  font-weight: var(--secondary-font-weight);
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--background-color-secondary);
  border-bottom: 2px solid lightgray;
}

h1 {
  font-weight: var(--secondary-font-weight);
  font-size: 28px;
  text-decoration: underline;
}

h2 {
  font-weight: var(--secondary-font-weight);
  font-size: 22px;
}

h3 {
  font-weight: var(--secondary-font-weight);
  font-size: 16px;
}

section, article, footer{
  color: var(--secondary-color);
}

a{
  color: var(--primary-color);
}   

a:visited{
  color: var(--visitid-link-color);
}

a:hover, a:focus{
  /*no underlining when hovering over a link*/
  text-decoration: none;
  background-color: var(--background-color-hover);
}

a:active{
  color: var(--highlight-color);
}

button,
.button,
.button__secondary {
  /* overwrites browser defaults and resets the border */
border: none;
/* takes the font from the outer container */
display: inline-block;
font-family: inherit;
/* styles the background color, font color, and text decoration (underline, etc.) of the button */
background-color: var(--primary-color);
color: var(--button-color-primary);
text-decoration: none;
/*adds spacing to the button (this will be discussed more in-depth later) */
padding: 10px;
border-radius: 3px;
/* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
border-bottom: 2px solid var(--button-border-color);
transition-duration: 0.2s;
transition-property: opacity;
}

.button__secondary {
background-color: var(--highlight-color);
color: var(--dark-grey);
display: flex;
flex-direction: column;
margin: 0 auto;
}

button:hover, 
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 70% */
  opacity: 0.7;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer{
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
}

.profile {
  display: flex;
  max-width: var(--primary-max-width);
  margin: 16px auto 0 auto; 
  align-items: center;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* start grid fallback */
.grid {
  overflow: hidden;
  margin: 0 -10px;
  padding: 0;
  list-style: none;
}
.grid__item {
  width: calc(33.333333% - 20px);
  margin: 0 10px 20px 10px;
  float: left;
 }
 /* end grid fallback */

 @supports (display: grid) {
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 10%;
  gap: 20px;
  margin: 0;
}

.grid__item { 
  background-color: white;
  padding: 50px;
  margin: 0;
  border: 1px solid var(--dark-grey);
  width: auto;  
  min-height: auto;
}

.grid__item:first-child {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
}

.contact-info {
  max-width: var(--primary-max-width);
  margin: 0 auto; 
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.standard-label {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.my-info {
  max-width: var(--primary-max-width);
  margin: 0 auto; 
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.info-list {
  list-style-type: none;
  margin: 0 0;
}

.standard-table {
  border: 1px solid var(--dark-grey);
  border-collapse: separate;
  border-spacing: 2px;
  width: 50%;
  display: table;
  text-indent: initial;
  margin: 0 auto;
  text-align: center;
}

tr {
  display: table-row;
  vertical-align: inherit;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

.my-work {
  text-align: center;
}

.span-item {
  background-color: var(--secondary-color);
  color: var(--highlight-color);
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes slide-in {
  from {
    transform: translateX(-60%);
  }

  to {
    transform: translateX(0%);
  }
}

.cloud-left {
  animation: slide-in 5s infinite linear;
}

  

